#account-error{
    position: absolute;
    right:0;
    top:0;
    font-size: 17px;
    color: #FF5053;
    width: auto;
}
#password1-error{
    position: absolute;
    right:0;
    top:0;
    font-size: 17px;
    color: #FF5053;
    width: auto;
}
#email-error{
    position: absolute;
    right:0;
    top:0;
    font-size: 17px;
    color: #FF5053;
    width: auto;
}
#password_confirm-error{
    position: absolute;
    right:0;
    top:0;
    font-size: 17px;
    color: #FF5053;
    width: auto;
}

#account-error{
    position: absolute;
    right:0;
    top:0;
    font-size: 17px;
    color: #FF5053;
    width: auto;
}
#password1-error{
    position: absolute;
    right:0;
    top:0;
    font-size: 17px;
    color: #FF5053;
    width: auto;
}
#email-error{
    position: absolute;
    right:0;
    top:0;
    font-size: 17px;
    color: #FF5053;
    width: auto;
}
#password_confirm-error{
    position: absolute;
    right:0;
    top:0;
    font-size: 17px;
    color: #FF5053;
    width: auto;
}